version: 2.1
orbs:
    node: circleci/node@4.4.0
jobs:
    lint:
        executor: node/default
        steps:
            - checkout
            - run: npm install
            - run: npm run prettier
            - run: npm run lint
    test:
        machine:
            image: ubuntu-2004:202010-01
        steps:
            - checkout
            - run: nvm alias default 14.12.0
            - run:
                  command: docker-compose up
                  background: true
            - run: npm install
            - run: npm run build
            - run: sleep 1
            - run:
                  command: node ./tests/mocks/mockService.js
                  background: true
            - run: sleep 1
            - run:
                  command: AUTH_URL=localhost:8999 AUTH_PROTOCOL=http SECURE=false NATS_URL=nats://localhost:4222 npm run dev
                  background: true
            - run: sleep 6
            - run: npm run test
    docker-push:
        machine: true
        steps:
            - checkout
            - run: docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_ACCESS_KEY
            - run: ./run docker-build
            - run: ./run docker-tag
            - run: ./run docker-push
workflows:
    ci-cd:
        jobs:
            - lint
            - test
            - docker-push:
                  requires:
                      - lint
                      - test
                  filters:
                      branches:
                          only:
                              - main
